@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
  }
  .btn-bg{
    background-color: #7B5741;
    border-radius: 30px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
}
.btn-box{
  background-color: #7B5741;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
}
.btn-bg:hover{
    background-color:#483224d8;
}
.btn-box:hover{
  background-color:#483224d8;
}
.btn-bg.clicked {
  background-color:#483224d8;

}
li, a{
  text-decoration: none;
}